.chat-room {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.chat-room .design-component-instance-node {
  min-width: 278px !important;
  position: relative !important;
  width: unset !important;
}

.chat-room .design-component-instance-node-2 {
  width: 278px !important;
}

.chat-room .chat-footer-instance {
  height: 47.14px !important;
  min-width: 277.7px !important;
  position: relative !important;
  width: unset !important;
}
