.login-additional-msg {
  height: 2vh;
  position: relative;
  width: 11vw;
}

.login-additional-msg .element {
  color: #000000;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 0.8vw;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 11vw;
}
