.home {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #f5f5f5;
  border: 1px none;
  height: 982px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.home .overlap {
  background-color: #ffffff;
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.home .rectangle {
  background-color: #d9d9d9;
  height: 88px;
  left: 22px;
  position: absolute;
  top: 25px;
  width: 92px;
}

.home .frame {
  background-color: #d9d9d9;
  height: 28px;
  left: 351px;
  position: absolute;
  top: 85px;
  width: 121px;
}

.home .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.home .div-wrapper {
  background-color: #d9d9d9;
  height: 28px;
  left: 589px;
  position: absolute;
  top: 85px;
  width: 121px;
}

.home .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.home .frame-2 {
  background-color: #d9d9d9;
  height: 28px;
  left: 827px;
  position: absolute;
  top: 85px;
  width: 121px;
}

.home .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.home .frame-3 {
  background-color: #d9d9d9;
  height: 28px;
  left: 1065px;
  position: absolute;
  top: 85px;
  width: 121px;
}

.home .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.home .overlap-group-wrapper {
  height: 28px;
  left: 1324px;
  position: absolute;
  top: 14px;
  width: 69px;
}

.home .overlap-group {
  background-color: #d9d9d9;
  height: 28px;
  position: relative;
  width: 85px;
}

.home .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.home .overlap-wrapper {
  height: 28px;
  left: 1418px;
  position: absolute;
  top: 14px;
  width: 69px;
}

.home .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.home .overlap-2 {
  background-color: #ffffff;
  height: 298px;
  left: 42px;
  position: absolute;
  top: 175px;
  width: 1428px;
}

.home .rectangle-2 {
  background-color: #d9d9d9;
  height: 114px;
  left: 49px;
  position: absolute;
  top: 36px;
  width: 505px;
}

.home .rectangle-3 {
  background-color: #d9d9d9;
  height: 83px;
  left: 49px;
  position: absolute;
  top: 167px;
  width: 1333px;
}

.home .overlap-3 {
  background-color: #ffffff;
  height: 352px;
  left: 42px;
  position: absolute;
  top: 510px;
  width: 693px;
}

.home .div-2 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 23px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}

.home .span {
  font-weight: 700;
}

.home .text-wrapper-7 {
  font-family: "Inter-Regular", Helvetica;
}

.home .frame-4 {
  height: 279px;
  left: 6px;
  position: absolute;
  top: 61px;
  width: 681px;
}

.home .frame-5 {
  background-color: #ffffff;
  height: 279px;
  left: 0;
  position: absolute;
  top: 0;
  width: 211px;
}

.home .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 162px;
}

.home .frame-6 {
  height: 21px;
  left: 147px;
  position: absolute;
  top: 163px;
  width: 47px;
}

.home .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.home .overlap-group-2 {
  height: 142px;
  left: 17px;
  position: absolute;
  top: 7px;
  width: 186px;
}

.home .rectangle-4 {
  background-color: #d9d9d9;
  height: 130px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 177px;
}

.home .star {
  height: 22px;
  left: 164px;
  position: absolute;
  top: 0;
  width: 23px;
}

.home .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 197px;
}

.home .ellipse {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 20px;
  left: 22px;
  position: absolute;
  top: 249px;
  width: 20px;
}

.home .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 251px;
}

.home .frame-7 {
  background-color: #ffffff;
  height: 279px;
  left: 240px;
  position: absolute;
  top: 0;
  width: 211px;
}

.home .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 147px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 162px;
}

.home .frame-8 {
  background-color: #ffffff;
  height: 279px;
  left: 470px;
  position: absolute;
  top: 0;
  width: 211px;
}

.home .overlap-4 {
  background-color: #ffffff;
  height: 352px;
  left: 769px;
  position: absolute;
  top: 510px;
  width: 701px;
}

.home .p-2 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 23px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}

.home .frame-9 {
  height: 279px;
  left: 10px;
  position: absolute;
  top: 61px;
  width: 681px;
}

.home .frame-10 {
  background-color: #ffffff;
  height: 279px;
  left: 235px;
  position: absolute;
  top: 0;
  width: 211px;
}

.home .overlap-5 {
  height: 156px;
  left: 0;
  position: absolute;
  top: 882px;
  width: 1512px;
}

.home .rectangle-5 {
  background-color: #ffffff;
  height: 156px;
  left: 42px;
  position: absolute;
  top: 0;
  width: 1435px;
}

.home .rectangle-6 {
  background-color: #d9d9d9;
  height: 58px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 1512px;
}
