.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .div-2 {
  background-color: #ffffff;
  border: 1px none;
  margin: auto;
  position: absolute;
  height: 982px;
  left: 50%;
  transform: translateX(-50%);
  width: 1512px;
  vertical-align: middle;
}

.login .login-input-instance {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  position: absolute !important;
  top: 569px !important;
}

.login .login-logo {
  height: 302px;
  left: 614px;
  position: absolute;
  top: 160px;
  width: 284px;
}

.login .login-help-instance {
  left: 516px !important;
  position: absolute !important;
  top: 716px !important;
}
