.postingAddModal {
  background-color: #ffffff !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center  !important;
}

.postingAddModal .div {
  background-color: #ffffff  !important;
  border: 1px none  !important;
  height: 439px  !important;
  position: relative  !important;
  width: 460px  !important;
}

.postingAddModal .text-wrapper {
  color: #000000  !important;
  font-family: "NanumBarunGothic-Regular", Helvetica  !important;
  font-size: 27px !important;
  font-weight: 400  !important;
  left: 23px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  position: absolute !important;
  top: 11px !important;
  white-space: nowrap !important;
}

.postingAddModal .text-wrapper-2 {
  color: #ff7d7d !important;
  font-family: "NanumBarunGothic-Regular", Helvetica !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  left: 23px !important;
  letter-spacing: 0!important;
  line-height: normal !important;
  position: absolute !important;
  top: 84px !important;
  white-space: nowrap !important;
}

.postingAddModal .text-wrapper-3 {
  color: #ff7d7d !important;
  font-family: "NanumBarunGothic-Regular", Helvetica !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  left: 23px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  position: absolute !important;
  top: 174px !important;
  white-space: nowrap !important;
}

.postingAddModal .frame {
  background-color: #ff7d7d !important;
  height: 66px !important;
  left: 0 !important;
  position: absolute !important;
  top: 373px !important;
  width: 460px !important;
}

.postingAddModal .text-wrapper-4 {
  color: #ffffff !important;
  font-family: "NanumBarunGothic-Regular", Helvetica !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  height: 31px !important;
  left: 113px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  position: absolute !important;
  text-align: center !important;
  top: 18px !important;
  width: 233px !important;
}

.postingAddModal .rectangle {
  background-color: #f9f9f9!important;
  height: 33px!important;
  left: 24px!important;
  position: absolute!important;
  top: 116px!important;
  width: 395px!important;
  border: none;
  padding: 10px;
}

.postingAddModal .rectangle-2 {
  background-color: #f9f9f9;
  height: 131px;
  left: 23px;
  position: absolute;
  top: 206px;
  width: 396px;
  border: none;
  padding: 10px;
}

.postingAddModal .text-wrapper-5 {
  color: #d9d9d9 !important;
  font-family: "NanumBarunGothic-Regular", Helvetica !important;
  font-size: 33px !important;
  font-weight: 400 !important;
  left: 418px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  position: absolute !important;
  top: 16px !important;
  white-space: nowrap !important;
}
